*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	color: white;
}
/*NAVBAR*/
nav h1{
	font-family: 'Dancing Script', cursive;
	color: #fed136;
	font-size: 30px;
	margin-left: 80px;
}
nav ul{
	margin-left: 350px;
	margin-top: 10px;
}
nav li{
	display: block;
	float: left;
	padding: 20px;
}
nav a{
	color: white;
	text-decoration: none;
	font-size: 15px;
}
.contenedor-img{
	background-image: url(../img/header-bg.jpg);
	background-size: cover;
	height: 700px;
}
.titulo-header{
	text-align: center;
	margin-top: 200px;
}
#h2-header{
	font-family: 'Old Standard TT', serif;
	font-size: 50px;
}
#h1-header{
	font-size: 70px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}
#boton-header{
	font-size: 20px;
	width: 250px;
	font-weight: bold;
	border-style: none;
	border-radius: 4px;
	background-color: #fed136;
	padding: 20px;
}

/* SERVICES */

.contenedor-services{
	background-color: whitesmoke;
	height: 570px;
	text-align: center;
}
.contenedor-titulo h1{
	color: #333333;
	font-weight: bold;
	font-size: 45px;
	margin-top: 100px;
}
.p-titulo{
	font-family: 'Old Standard TT', serif;
	color: #777;
	font-size: 20px;
}
.todos-services{
	margin-top: 50px;
}
.h3-services{
	color: #33334d;
}
.p-services{
	color: #777;
	font-family: 'Old Standard TT', serif;
	font-size: 17px;
}

.icon{
	background-color: #fed136;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	font-size: 40px;
	padding-top: 17px;
	margin-left: 160px;
	margin-bottom: 20px;
}

/* PORTFOLIO */

.portafolio{
	background-color: #eee;
	height: 1150px;
	text-align: center;
}
#h1-portafolio{
	color: #333;
}
.segunda-linea{
	padding: 50px;
	margin: 10px;
}
.primera-linea{
	padding: 50px;
	margin: 10px;
}
.caja-blanca{
	height: 100px;
	background-color: white;
	margin-left: 15px;
}

/*  A B O U T */

.contenedor-about{
	background-color: white;
	height: 1900px;
	text-align: center;
}
.texto-izquierda{
	text-align: right;
}
.img-circulo{
	border-radius: 50%;
	border: 9px solid #f1f1f1;
}
.ultimo-circulo{
	background-color: #fed136;
	width: 210px;
	height: 210px;
}
.h3-ultimo-circulo{
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 20px;
	font-size: 29px;
}
.texto-derecha{
	text-align: left;
	margin-top: 100px;
}
.parrafos-derecha{
	position: relative;
	bottom: 200px;
	left: 10px;
}
/* T E A M */

#contenedor-team{
	background-color: #eee;
	height: 750px;
	text-align: center;
}
.titulo-team{
	margin: 30px;
}
.primeraimg-team{
	margin-left: 150px;
}
.img-circulo-team{
	border-radius: 50%;
	border:8px solid white;
}
.icons-circulo{
	width: 45px;
	height: 45px;
	background-color: #222222;
	border-radius:50%;
	color: white;
	font-size: 30px;
	float: left;
	margin: 10px 14px;
}
#ultimo-p-team{
	margin-top: 50px;
}
/* EMPRESAS */

#contenedor-empresas{
	height: 150px;
	background-color: white;
}
#primer-logo{
	margin-left: 200px;
}
#todos-logos{
	margin-top: 50px;
}
/* MAPA */

#contenedor-mapa{
	height: 700px;
	background-image: url(../img/map-image.png);
	background-color: #222222;
	background-size: cover;
	text-align: center;
}
.input-mapa{
	height: 70px;
	border-style: none;
	border-radius: 5px;
	margin: 10px;
}
#tarea-mapa{
	height: 260px;
	border-radius: 10px;
	margin: 10px;
}
.titulo-mapa{
	margin-top: 80px;
}
#todos-input{
	position: relative;
	top: 70px;
}
#boton-mapa{
	background-color: #fed136;
	padding: 20px;
	width: 200px;
	border-style: none;
	border-radius: 5px;
	margin-top: 100px;
}
input{
	color: black;
}
/* F O O T E R */
#contenedor-footer{
	height: 120px;
	background-color: white;
	text-align: center;
}
#terminosdeuso{
	color: #fed136;
	padding: 10px;
}
#Copyright{
	color: black;
}
#todo-footer{
	margin-top: 40px;
}
#primer-contenedor{
	margin-left: 200px;
}